body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}



p {
    color: white;
    font-size: 16px;
    line-height: 1.75;
}

p.large {
    font-size: 20px;
}


h1{
    font-family: 'Playfair Display',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #173e43
}

h3{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
}

h5,
h6,
h4{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    color: #dddfd4
}

h2{
    color: #3fb0a6;
    font-size: 80px;
    font-family: 'Playfair Display',"Helvetica Neue",Helvetica,Arial,sans-serif;
}



.navbar-expand-lg {
    border-color: transparent;
    background: linear-gradient(
        to left,
        rgba(23,62,67,0.5),
        rgba(221,223,212,0.9)
    ); 
}

.navbar-expand-lg .navbar-brand {
    font-family: 'Playfair Display',"Helvetica Neue",Helvetica,Arial,cursive;
    color: #173e43;
    font-size: 30px;
    font-weight: 500;
    margin: 10px;
}

.navbar-expand-lg li { 
    text-transform: uppercase;
    font-family: 'Lato' ,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: 
        linear-gradient(
            to top,
            #173e43,
             #dddfd4),
        url('../images/yosemite.jpg');
    background-blend-mode: color;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: -91px;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Playfair Display' ,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: 'Playfair Display',"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }

}

.section-heading {
    margin-top: 2px;
    margin-bottom: 2px;
}

@media(max-width:768px){
    .section-heading{
        font-size: 60px;
    }
}


#about {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #173e43;
}

#avatar{
    border-bottom: 10px double #3fb0a6;
    border-left: 10px double #fae596;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rectangle-a {
    height: 60px;
    background:linear-gradient(
       to right,
       transparent,
       #3fb0a6
   );
}

.rectangle-b {
    height: 60px;
    background:linear-gradient(
        to right,
        transparent,
        #fae596
    );
}

div#web-rectangle {
     width: 70%;
}

div#design-rectangle {
    width: 90%;
  
}

div#databases-rectangle {
    width: 50%;
}

div#programming-rectangle {
    width: 55%;
}

div#rando-rectangle {
    width: 80%;
}



#portfolio{
    text-align: center;
    align-content: center;
    align-items: center;
    border-top: 10px double #173e43;
    border-bottom: 10px double #173e43;
    background: #dddfd4;
    height: 960px;

}

.carousel{
    height: 700px;
}

.carousel-item img{
    max-height: 700px;
    object-fit: contain;
}

@media(max-width:768px) {
    .carousel-item img{
        max-width: 700px;
    }
}


#experience{
    text-align: center;
    background-color: white;
    max-width: 100%;
}

#arrows{
    position: inherit;
    margin-top: 40px;
    width: 500px;
    height: 100px;
    animation: mymove 6s 0s infinite alternate;
    -webkit-animation: mymove 6s 0s infinite alternate; /* Safari 4.0 - 8.0 */
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
    }

    @keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}

@media(max-width:768px) {
    #arrows{
        width: 200px;
        animation: mymove 6s 0s infinite alternate;
        -webkit-animation: mymove 6s 0s infinite alternate; /* Safari 4.0 - 8.0 */
        }
        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes mymove {
        from {left: 0px;}
        to {left: 100px;}
        }
    
        @keyframes mymove {
        from {left: 0px;}
        to {left: 100px;}
    }
}

#experiencescroll{
    max-width: 100%;
    overflow-x: auto;
    height: 460px;
    text-align: center;
    margin-top: 60px;
}

.card {
    max-width: 391px;
    height: 410px;
    align-content: space-around;
}


.card-img-top{
    padding: 15px;
}

.btn{
    background-color: rgba(221,223,212,0.7);
}


#teamcontainer{
    border-top: 10px double #173e43;
    border-bottom: 10px double #173e43;
    background: #dddfd4;
}
.team-member {
    margin-bottom: 50px;
    text-align: center;
    margin: 0 auto;
    border: 7px solid #fff;
    max-width: 300px;
}

.team-member img{
    padding: 5px;
}

#korra{
    margin-top: 40px;
    height: 260px;
    width: 260px;
    object-fit: cover;
    border-radius: 50%
}


.team-member h3 {
    margin-top: 25px;
    margin-bottom: 0px;
}





section#contact {
    background-color: #173e43;
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}



